<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
         
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <!-- <property name="hibernate.connection.password"></property>  -->   
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

         <!-- <property name="show_sql">true</property>  --> 
         <property name="hibernate.c3p0.min_size">2</property>
         <property name="hibernate.c3p0.max_size">100</property>
         <property name="hibernate.c3p0.timeout">5000</property>
         <property name="hibernate.c3p0.max_statements">100</property>
         <property name="hibernate.c3p0.idle_test_period">300</property>
         <property name="hibernate.c3p0.acquire_increment">2</property>
         
        <!-- 
        <mapping class="com.takkaiah.db.dto.ItemCategory"></mapping>
        <mapping class="com.takkaiah.db.dto.MRPType"></mapping>
        <mapping class="com.takkaiah.db.dto.CustomerGroup"></mapping>
        <mapping class="com.takkaiah.db.dto.Customer"></mapping>
        <mapping class="com.takkaiah.db.dto.Item"></mapping>
        <mapping class="com.takkaiah.db.dto.ItemMRP"></mapping>
        <mapping class="com.takkaiah.db.dto.CustomerArticleCode"></mapping>
        <mapping class="com.takkaiah.db.dto.CustomerItemMapping"></mapping>
        <mapping class="com.takkaiah.db.dto.User"></mapping>
        <mapping class="com.takkaiah.db.dto.PORAFunctionalities"></mapping>
        <mapping class="com.takkaiah.db.dto.UserPermissions"></mapping>
        
        -->
     </session-factory>
</hibernate-configuration>